<%- include('partials/header.ejs') %>
    <%- include('partials/navbar.ejs') %>
        <script>
            const roomId = JSON.parse('<%-JSON.stringify(roomId)%>');
            const isCreator = JSON.parse('<%-JSON.stringify(isCreator)%>');
        </script>
        <section class="fiveInARow">
            <section class="left-sidebar">
                <%- include('partials/startInfoLeftSidebar.ejs') %>
                <div class="history">
                    <span id="turnCount" class="hidden">1</span>
                    <ul class="game-history" id="gameHistory">
                        <li class="game-history-card">
                            <span class="player">Pratyush</span>
                            <span class="action">attacked</span>
                            on the tile
                            <span class="coordinates">(0,0)</span>
                        </li>
                        <li class="game-history-card">
                            Pratyush attacked on the tile (0,0)
                        </li>
                        <li class="game-history-card">
                            Pratyush attacked on the tile (0,0)
                        </li>
                        <li class="game-history-card">
                            Pratyush attacked on the tile (0,0)
                        </li>
                        <li class="game-history-card">
                            Pratyush attacked on the tile (0,0)
                        </li>
                        <li class="game-history-card">
                            Pratyush attacked on the tile (0,0)
                        </li>
                        <li class="game-history-card">
                            Pratyush attacked on the tile (0,0)
                        </li>
                        <li class="game-history-card">
                            Pratyush attacked on the tile (0,0)
                        </li>
                        <li class="game-history-card">
                            Plsdjfl attacked on the tile (0,0)
                        </li>
                    </ul>
                </div>
            </section>
            <section class="main-content">
                <div class="game-overlay" id="overlay"></div>
                <div class="game-overlay hidden" id="gameOverOverlay">
                    <div id="gameOverMessage"></div>
                </div>
                <div>
                    <canvas height="400" width="400" id="canvas"></canvas>
                </div>
            </section>
            <section class="right-sidebar">
                <%- include('partials/playersListRightSidebar.ejs') %>
                <%- include('partials/chatRightSidebar.ejs') %>
            </section>
        </section>
        <script src="/javascript/game.js"></script>
        <script src="/javascript/FiveInARow.js"></script>

        <%- include('partials/footer.ejs') %>